# Ignore zip files and other big files..
*.zip
*.pth
*.state
*.tiff
*.png
*.nii.gz
*.nii
*.gz

# Ignore Mac system files
.DS_Store

# Ignore dataset folders 
data/*pix2pix*/
data/*Palette*/

# Ignore datasets in LOCAL_HENDRIX folder
diffusion/datasets/*
!diffusion/datasets/
GAN/datasets/*
!GAN/datasets/


# Ignore results, but keep the directories
diffusion/experiments/*
!diffusion/experiments/
GAN/checkpoints/*
!GAN/checkpoints/

# Ignore folder (for previous pojects and ucph files on hendrix)
ignore/*
ucph/*

# Ignore python cache
*.pyc
